@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    min-height: 100vh;
    width: 100vw;
}

.root-layout {
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    
    box-sizing: border-box;
    pointer-events: none;
    background-image: url('/img/desk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top, center;

    box-sizing: border-box;
}

.app {
    @apply relative flex-col max-w-7xl mx-auto z-10 sm:px-16 px-6 pt-4
    h-screen
}

.header-text {
    @apply mt-5 text-4xl font-extrabold text-black sm:text-5xl;
}

.description {
    @apply mt-5 text-lg text-gray-600
}

.logo-text {
    @apply max-sm:hidden font-satoshi tracking-wider font-semibold text-lg
    mt-2 text-black
}

.full-btn {
    @apply rounded-full border border-black bg-black py-1.5 px-5 text-white hover:bg-white hover:text-black text-center text-sm
    font-roboto flex items-center justify-center transition-all;
}

.outline-btn {
    @apply rounded-full border border-black px-5 hover:bg-black hover:text-white text-center text-sm font-roboto transition-all
}

.feed {
    @apply flex justify-center items-center mt-16 mx-auto w-full flex-col gap-2 max-w-3xl
}

.search_input_container {
    @apply block rounded-md border border-gray-200 bg-white font-roboto font-medium
}

.search_input {
    @apply inline-block py-2.5 pl-5 pr-12 focus:border-black focus:outline-slate-400 focus:ring-0 shadow-lg
}

.desc {
    @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl
}

.glassy {
    @apply rounded-xl border border-gray-200 bg-list-background
    backdrop-blur-lg p-5 shadow-md;
}

.form_input {
    @apply border border-gray-300 block w-full mt-5 px-5 py-3 focus:outline-none bg-white rounded-lg
}

.textarea_input {
    @apply border border-gray-300 block w-full px-5 py-3 focus:outline-none bg-white rounded-lg
}

.task_table_wrapper {
    @apply w-full mt-10 overflow-scroll shadow-md min-h-full max-h-[30rem]
    mb-16
}

.task_table_container {
    @apply min-w-[40rem] bg-list-background backdrop-blur-md rounded-sm
}

.task_table_wrapper::-webkit-scrollbar, 
.task_table_container::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.6rem;
}

.task_table_wrapper::-webkit-scrollbar-thumb,
.task_table_container::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.task_table_wrapper:hover::-webkit-scrollbar-thumb,
.task_table_container:hover::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0007;
    visibility: visible;
}

.task_table_header {
    @apply grid grid-cols-5 font-bold text-center sticky top-0 left-0
}

.task_table_header_cols {
    @apply bg-gray-200 px-2 py-4 cursor-pointer hover:bg-slate-50
}

.task_table_row {
    @apply grid grid-cols-5 text-center items-center bg-gray-100
}

.task_table_row_item {
    @apply p-4
}

.task_table_row:nth-child(odd) {
    background-color: rgba(0,0,0,0.08);
}

.task_table_row:hover {
    background-color: #fffd;
}

.dropdown {
    @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
  }
  
.dropdown_link {
    @apply text-sm font-roboto text-gray-700 hover:text-gray-500 font-medium;
}

