@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.root-layout {
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    
    box-sizing: border-box;
    pointer-events: none;
}

.app {
    @apply relative flex justify-center items-center flex-col max-w-7xl mx-auto z-10 sm:px-16 px-6;
}

.header-text {
    @apply mt-5 text-4xl font-extrabold text-black sm:text-5xl;
}

.description {
    @apply mt-5 text-lg text-gray-600
}

.logo-text {
    @apply max-sm:hidden font-satoshi tracking-wider font-semibold text-lg
    mt-2 text-black
}

.full-btn {
    @apply rounded-full border border-black bg-black py-1.5 px-5 text-white hover:bg-white hover:text-black text-center text-sm
    font-roboto flex items-center justify-center transition-all;
}

.outline-btn {
    @apply rounded-full border border-black px-5 hover:bg-black hover:text-white text-center text-sm font-roboto transition-all
}

.feed {
    @apply flex justify-center items-center mt-16 mx-auto w-full flex-col gap-2 max-w-3xl
}

.search_input_container {
    @apply block rounded-md border border-gray-200 bg-white font-roboto font-medium
}

.search_input {
    @apply inline-block py-2.5 pl-5 pr-12 focus:border-black focus:outline-slate-400 focus:ring-0 shadow-lg
}

.desc {
    @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl
}

.glassy {
    @apply rounded-xl border border-gray-200 bg-white/20 backdrop:blur p-5
    shadow-[inset_20px_-54px_94px_0_rgb(199,199,199,0.2)];
}

.form_input {
    @apply border border-gray-300 block w-full mt-5 px-5 py-3 focus:outline-none bg-white rounded-lg
}

.textarea_input {
    @apply border border-gray-300 block w-full px-5 py-3 focus:outline-none bg-white rounded-lg
}